examples/n8n-workflows/pr-review-bot.json
{
  "name": "Haiflow - PR Review Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "schedule-1",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "manual-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: 'Use gh CLI to list open pull requests where my review is requested. Output ONLY a JSON array of PR URLs, e.g. [\"owner/repo#123\", \"owner/repo#456\"]. If none found, output an empty array [].', session: 'default', id: 'pr-find-' + $now.toMillis(), source: 'n8n-pr-review' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {}
      },
      "id": "find-prs-1",
      "name": "Find PRs Needing Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:3333/responses/{{ $json.id }}/stream?session=default&timeout=120",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {
          "timeout": 130000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "stream-find-1",
      "name": "Stream Find Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.data || '';\nfor (const block of text.split('\\n\\n').reverse()) {\n  if (block.includes('event: complete')) {\n    const line = block.split('\\n').find(l => l.startsWith('data: '));\n    if (line) {\n      const response = JSON.parse(line.slice(6));\n      const messages = response.messages || [];\n      const lastMsg = messages[messages.length - 1] || '';\n      const match = lastMsg.match(/\\[.*\\]/);\n      if (match) {\n        const prs = JSON.parse(match[0]);\n        return prs.map(pr => ({ json: { pr } }));\n      }\n    }\n  }\n}\nreturn [];"
      },
      "id": "parse-prs-1",
      "name": "Extract PR List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: '/code-review ' + $json.pr, session: 'default', id: 'pr-review-' + $json.pr.replace(/[^a-zA-Z0-9]/g, '-') + '-' + $now.toMillis(), source: 'n8n-pr-review' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {}
      },
      "id": "review-pr-1",
      "name": "Send Review Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:3333/responses/{{ $json.id }}/stream?session=default&timeout=600",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {
          "timeout": 610000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "stream-review-1",
      "name": "Stream Review Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.data || '';\nfor (const block of text.split('\\n\\n').reverse()) {\n  if (block.includes('event: complete')) {\n    const line = block.split('\\n').find(l => l.startsWith('data: '));\n    if (line) return [{ json: JSON.parse(line.slice(6)) }];\n  }\n}\nreturn [{ json: { error: 'Review did not complete', raw: text } }];"
      },
      "id": "parse-review-1",
      "name": "Parse Review Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300]
    },
    {
      "parameters": {},
      "id": "done-1",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [[{ "node": "Find PRs Needing Review", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Find PRs Needing Review", "type": "main", "index": 0 }]]
    },
    "Find PRs Needing Review": {
      "main": [[{ "node": "Stream Find Response", "type": "main", "index": 0 }]]
    },
    "Stream Find Response": {
      "main": [[{ "node": "Extract PR List", "type": "main", "index": 0 }]]
    },
    "Extract PR List": {
      "main": [[{ "node": "Send Review Prompt", "type": "main", "index": 0 }]]
    },
    "Send Review Prompt": {
      "main": [[{ "node": "Stream Review Response", "type": "main", "index": 0 }]]
    },
    "Stream Review Response": {
      "main": [[{ "node": "Parse Review Response", "type": "main", "index": 0 }]]
    },
    "Parse Review Response": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    }
  }
}
