examples/n8n-workflows/scheduled-trigger-with-polling.json
{
  "name": "Haiflow - Scheduled Trigger with SSE Streaming",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1-5" }]
        }
      },
      "id": "schedule-1",
      "name": "Every Weekday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: 'summarize recent git commits and open PRs', session: 'default', id: 'daily-' + $now.format('yyyy-MM-dd'), source: 'n8n-schedule' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {}
      },
      "id": "trigger-1",
      "name": "Send Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:3333/responses/{{ $json.id }}/stream?session=default&timeout=300",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {
          "timeout": 310000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "stream-1",
      "name": "Stream Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.data || '';\nfor (const block of text.split('\\n\\n').reverse()) {\n  if (block.includes('event: complete')) {\n    const line = block.split('\\n').find(l => l.startsWith('data: '));\n    if (line) return [{ json: JSON.parse(line.slice(6)) }];\n  }\n}\nreturn [{ json: { error: 'Task did not complete', raw: text } }];"
      },
      "id": "parse-1",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {},
      "id": "done-1",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Every Weekday 9am": {
      "main": [[{ "node": "Send Prompt", "type": "main", "index": 0 }]]
    },
    "Send Prompt": {
      "main": [[{ "node": "Stream Response", "type": "main", "index": 0 }]]
    },
    "Stream Response": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    }
  }
}
