examples/n8n-workflows/trigger-prompt.json
{
  "name": "Haiflow - Trigger Prompt via Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-trigger",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/trigger",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.body.prompt, session: $json.body.session || 'default', id: $json.body.id || 'n8n-' + Date.now(), source: 'n8n' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {}
      },
      "id": "trigger-1",
      "name": "Trigger Haiflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:3333/responses/{{ $json.id }}/stream?session={{ $json.session || 'default' }}&timeout=300",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_HAIFLOW_API_KEY" }
          ]
        },
        "options": {
          "timeout": 310000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "stream-1",
      "name": "Stream Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.data || '';\nfor (const block of text.split('\\n\\n').reverse()) {\n  if (block.includes('event: complete')) {\n    const line = block.split('\\n').find(l => l.startsWith('data: '));\n    if (line) return [{ json: JSON.parse(line.slice(6)) }];\n  }\n}\nreturn [{ json: { error: 'Task did not complete', raw: text } }];"
      },
      "id": "parse-1",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Trigger Haiflow", "type": "main", "index": 0 }]]
    },
    "Trigger Haiflow": {
      "main": [[{ "node": "Stream Response", "type": "main", "index": 0 }]]
    },
    "Stream Response": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}
